@import "../base/fonts";
@import "../base/variables";

.about {
    padding: 130px 0;

    @media screen and (max-width: 1024px) {
        padding: 60px 0;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1250px) {
            gap: 20px;
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column-reverse;
            align-items: center;
            padding: 25px 16px 33px 16px;
        }
    }
    
    &__col {

        &_left {
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }

        &_right {

            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
    }

    &__title {
        margin: 0;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $Gray-100;

        @media screen and (max-width: 1024px) {
            padding-bottom: 24px;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        max-width: 617px;
        padding: 50px 0 80px 0;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-100;

        @media screen and (max-width: 1024px) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__img {
        max-width: 745px;
    }

    &__btn {
        @media screen and (max-width: 375px) {
            text-align: center;
        }
    }

    .about-mobile {
        display: none;

        @media screen and (max-width: 1024px) {
            display: inline;
        }
    }
}