@import "../base/fonts";
@import "../base/variables";

.awards {
    padding-bottom: 130px;
    overflow: visible;

    @media screen and (max-width: 1560px) {
        margin: 0 16px;
    }

    @media screen and (max-width: 1024px) {
        padding-bottom: 60px;
    }

    &__container {
        padding: 0;
        border-radius: 12px;
        background-color: $blue-dark;
    }

    &__presentation {
        position: relative;
        padding-top: 80px;
        text-align: center;
        z-index: 1;

        &::before {
            content: "";
            background-image: url("../../img/contact-us/awards-img/awards-logo.png");
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            width: 200px;
            height: 240px;
            top: -50px;
            left: 130px;
            z-index: 3;

            @media screen and (max-width: 1100px) {
                left: 90px;
            }

            @media screen and (max-width: 1024px) {
                width: 125px;
                height: 155px;
                top: -44px;
                left: 110px;
            }
        }
    }

    &__title {
        margin-top: 0;
        padding-top: 80px;
        position: relative;
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        @media screen and (max-width: 1024px) {
            padding-top: 45px;
            font-size: 40px;
            line-height: 44px;
        }

        &::before {
            content: "";
            background-image: url("../../img/contact-us/awards-img/awards-before.svg");
            background-repeat: no-repeat;
            position: absolute;
            width: 60px;
            height: 140px;
            top: 34%;
            right: 60%;
            left: 35%;

            @media screen and (max-width: 1295px) {
                left: 32%;
            }

            @media screen and (max-width: 1095px) {
                left: 30%;
            }

            @media screen and (max-width: 1024px) {
                content: "";
                background-image: url("../../img/contact-us/awards-img/awards-before__mobile.svg");
                background-repeat: no-repeat;
                position: absolute;
                width: 25px;
                height: 60px;
                top: 40px;
                left: 38%;

                @media screen and (max-width: 775px) {
                    left: 36%;
                }

                @media screen and (max-width: 640px) {
                    left: 30%;
                }

                @media screen and (max-width: 520px) {
                    left: 25%;
                }

                @media screen and (max-width: 426px) {
                    left: 20%;
                }
            }
        }

        &::after {
            content: "";
            background-image: url("../../img/contact-us/awards-img/awards-after.svg");
            background-repeat: no-repeat;
            position: absolute;
            width: 60px;
            height: 140px;
            top: 34%;
            right: 35%;

            @media screen and (max-width: 1295px) {
                right: 32%;
            }

            @media screen and (max-width: 1095px) {
                right: 30%;
            }

            @media screen and (max-width: 1024px) {
                content: "";
                background-image: url("../../img/contact-us/awards-img/awards-after__mobile.svg");
                background-repeat: no-repeat;
                position: absolute;
                width: 25px;
                height: 60px;
                top: 40px;
                right: 38%;

                @media screen and (max-width: 775px) {
                    right: 36%;
                }

                @media screen and (max-width: 640px) {
                    right: 30%;
                }

                @media screen and (max-width: 520px) {
                    right: 25%;
                }

                @media screen and (max-width: 426px) {
                    right: 20%;
                }
            }
        }
    }

    &__subtitle {
        padding-bottom: 80px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-30;

        @media screen and (max-width: 1024px) {
            padding-bottom: 50px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .slider-awards {

        @media screen and (max-width: 1024px) {
            display: none;
        }

        &__img {
            margin: 0 auto;
            width: 95px;
        }

        &__text {
            text-align: center;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            color: $Gray-50;
        }
    }

    .awards-mobile {
        display: none;

        @media screen and (max-width: 1024px) {
            display: inline;

            &__img {
                width: 80px;
                margin: 0 auto;
            }

            &__text {
                max-width: 140px;
                margin: 0 auto;
                text-align: center;
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $Gray-50;
            }
        }

    }

    .slider-button {
        display: flex;
        padding-top: 80px;
        padding-bottom: 120px;
        justify-content: center;
        gap: 32px;
    
        &__prev,
        &__next {
            background-color: transparent;
            border: none;
        }

        @media screen and (max-width: 1024px) {
            padding-top: 40px;
            padding-bottom: 55px;
        }
    }
}