@import "../base/fonts";
@import "../base/variables";

.communication {
    padding: 130px 0;

    @media screen and (max-width: 1180px) {
        padding: 60px 0;
    }

    .item {
        display: flex;
        margin-bottom: 80px;
        gap: 30px;
        border: 1px solid $Gray-10;
        border-radius: 12px;

        @media screen and (max-width: 1180px) {
            flex-direction: column-reverse;
        }

        &__box {

            &-other {
                padding-left: 80px;
            }

            @media screen and (max-width: 1180px) {
                margin: 0 16px;
            }
        }

        &__img {
            max-width: 595px;

            @media screen and (max-width: 1180px) {
                margin: 0 auto;
            }
        }
    
        &__services {
            display: flex;
            margin: 0 30px;
            gap: 50px;
    
            @media screen and (max-width: 1180px) {
                flex-direction: column;
                gap: 0;
            }
        }
    
        &__title {
            margin: 0;
            padding-top: 80px;
            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 91px;
            line-height: 100px;
            color: $Gray-100;
    
            @media screen and (max-width: 1024px) {
                padding-top: 40px;
                font-size: 52px;
                line-height: 54px;
            }
        }
    
        &__subtitle {
            max-width: 835px;
            padding-top: 24px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $Gray-100;
    
            @media screen and (max-width: 1024px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    
        &__text {
            max-width: 340px;
            position: relative;
            padding-bottom: 30px;
            padding-left: 16px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $Gray-100;
    
            &::before {
                content: "";
                position: absolute;
                background-image: url("../../img/features-page3/icon-before.svg");
                width: 38px;
                height: 38px;
                top: -3px;
                left: -30px;
            }
    
            @media screen and (max-width: 1180px) {
                max-width: 100%;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    .item-other {
        display: flex;
        margin-bottom: 80px;
        gap: 30px;
        border: 1px solid $Gray-10;
        border-radius: 12px;

        @media screen and (max-width: 1180px) {
            flex-direction: column;
        }

        &__box {

            &-other {
                padding-left: 80px;
            }

            @media screen and (max-width: 1180px) {
                margin: 0 16px;
            }
        }

        &__img {
            max-width: 595px;

            @media screen and (max-width: 1180px) {
                margin: 0 auto;
            }
        }
    
        &__services {
            display: flex;
            margin: 0 30px;
            gap: 50px;
    
            @media screen and (max-width: 1180px) {
                flex-direction: column;
                gap: 0;
            }
        }
    
        &__title {
            margin: 0;
            padding-top: 80px;
            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 91px;
            line-height: 100px;
            color: $Gray-100;
    
            @media screen and (max-width: 1024px) {
                padding-top: 40px;
                font-size: 52px;
                line-height: 54px;
            }
        }
    
        &__subtitle {
            max-width: 835px;
            padding-top: 24px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $Gray-100;
    
            @media screen and (max-width: 1024px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    
        &__text {
            max-width: 340px;
            position: relative;
            padding-bottom: 30px;
            padding-left: 16px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $Gray-100;
    
            &::before {
                content: "";
                position: absolute;
                background-image: url("../../img/features-page3/icon-before.svg");
                width: 38px;
                height: 38px;
                top: -3px;
                left: -30px;
            }
    
            @media screen and (max-width: 1180px) {
                max-width: 100%;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}