@import "../base/fonts";
@import "../base/variables";

.contact {
    padding: 130px 0;

    @media (max-width: 1024px) {
        padding-top: 60px;
    }

    &__container {
        position: relative;
        display: flex;
        gap: 30px;
        margin: 0 auto;
        padding-bottom: 80px;

        @media (max-width: 1024px) {
            width: 100%;
            margin: 0 16px;
            flex-direction: column;
            padding-top: 60px;
        }
    }

    &__title {
        max-width: 580px;
        margin: 0;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $Gray-100;

        @media (max-width: 1024px) {
            max-width: 345px;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        max-width: 385px;
        margin: 0;
        padding-top: 40px;
        padding-bottom: 50px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-80;

        @media (max-width: 1024px) {
            max-width: 340px;
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 18px;
            line-height: 28px;
        }
        
    }

    &__box {
        padding-left: 40px;
    }

    &__address,
    &__email,
    &__tel {
        position: relative;
        font-family: 'GT Eesti Pro';
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $Gray-80;
    }

    &__address {
        &::before {
            content: "";
            background-image:  url("../../img/contact-address.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 32px;
            height: 32px;
            top: 1%;
            left: -9%;

            @media (max-width: 1024px) {
                left: -5%;
            }
        }
    }

    &__tel {
        &::before {
            content: "";
            background-image:  url("../../img/contact-tel.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 32px;
            height: 32px;
            left: -9%;
            bottom: 30%;

            @media (max-width: 1024px) {
                left: -5%;
            }
        }
    }

    &__email {
        &::before {
            content: "";
            background-image:  url("../../img/contact-email.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 32px;
            height: 32px;
            left: -9%;
            bottom: -4%;

            @media (max-width: 1024px) {
                left: -5%;
            }
        }
    }
    .form {
        width: 100%;
        display: grid;
        gap: 40px;
        width: 950px;
        height: 585px;
        padding: 80px;
        border-radius: 12px;
        background: $white-color;
        border: 1px solid $Gray-10;
        filter: $box-shadow-l;

        &__first-row {
            display: flex;
            justify-content: space-between;
            padding: 0;
            border: none;
        }

        &__group {
            position: relative;

            &-line {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                transition: all 0.2s ease;
                pointer-events: none;
            }
        }

        &__row,
        &__second-row,
        &__third-row {
            padding-left: 16px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            border-radius: 6px;
            background: $input;
            border: 1px solid $Gray-70;
        }

        &__row {
            width: 374px;
            height: 60px;
        }

        &__second-row {
            width: 788px;
            height: 60px;
        }

        &__third-row {
            width: 788px;
            height: 120px;
            padding-top: 14px;
        }
    }

   
      
      .form-group label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.2s ease;
        pointer-events: none;
      }
      
      .form-group.active label {
        transform: translateY(-100%) scale(0.8);
      }
      
      .textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        resize: vertical;
      }
      
      
}
