@import "../base/fonts";
@import "../base/variables";

.contact {
    padding: 130px 0 130px 0;

    @media (max-width: 1400px) {
        margin: 0 16px;
    }

    @media (max-width: 1024px) {
        margin: 0 auto;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-bottom: 80px;

        @media (max-width: 1200px) {
            margin: 0 16px;
            flex-direction: column;
            padding: 0;
        }
    }

    &__title {
        max-width: 580px;
        margin: 0;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $Gray-100;

        @media (max-width: 1024px) {
            max-width: 345px;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        max-width: 385px;
        margin: 0;
        padding-top: 40px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-80;

        @media (max-width: 1024px) {
            max-width: 340px;
            padding-top: 25px;
            font-size: 18px;
            line-height: 28px;
        }
        
    }

    &__box {
        position: relative;
        left: 50px;
    }

    &__address,
    &__email,
    &__tel {
        font-family: 'GT Eesti Pro';
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: $Gray-80;
    }

    &__address {
        margin: 0;
        padding: 50px 0 40px 0;
        
        &::before {
            content: "";
            background-image:  url("../../img/contact-address.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 32px;
            height: 32px;
            top: 19%;
            left: -9%;

            @media (max-width: 1024px) {
                top: 20px;
            }
        }

        @media (max-width: 1024px) {
            padding: 25px 0;
        }
    }

    &__tel {
        padding-bottom: 40px;

        &::before {
            content: "";
            background-image:  url("../../img/contact-tel.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 32px;
            height: 32px;
            left: -9%;
            bottom: 34%;
        }
    }

    &__email {

        &::before {
            content: "";
            background-image:  url("../../img/contact-email.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 32px;
            height: 32px;
            left: -9%;
            bottom: -1%;
        }
    }

    .form {
        width: 950px;
        height: 585px;
        padding: 80px;
        border-radius: 12px;
        background: $white-color;
        border: 1px solid $Gray-10;
        filter: $box-shadow-l;

        @media (max-width: 1024px) {
            width: 750px;
            padding: 32px 21px;
        }

        &__first-row {
            display: flex;
            margin-bottom: 40px;
            padding: 0;
            gap: 40px;
            border: none;

            @media (max-width: 1024px) {
                margin-bottom: 16px;
            }
        }

        &__field-wrap {
            display: inline-grid;
            width: 374px;
            height: 60px;
            padding-left: 16px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 13px;
            line-height: 18px;
            border-radius: 6px;
            color: $Gray-50;
            background: $input;
            border: 1px solid $Gray-20;

            @media (max-width: 1024px) {
                width: 331px;
            }
        }

        &__second-row {
            width: 788px;
            height: 60px;
            margin-bottom: 40px;
            padding: 14px 0 14px 16px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            border-radius: 6px;
            color: $Gray-50;
            background: $input;
            border: 1px solid $Gray-20;

            @media (max-width: 1024px) {
                width: 705px;
                margin-bottom: 16px;
            }

            @media (max-width: 375px) {
                width: 295px;
            }
        }

        &__third-row {
            padding: 0;
            border: none;
        }

        &__textarea {
            width: 788px;
            height: 120px;
            margin-bottom: 40px;
            padding: 14px 0 14px 16px;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            border-radius: 6px;
            color: $Gray-50;
            background: $input;
            border: 1px solid $Gray-20;

            @media (max-width: 1024px) {
                width: 705px;
            }

            @media (max-width: 375px) {
                width: 295px;
            }
        }

        &__name {
            padding: 14px 0;
            
            &-other {
                padding: 14px 0;
                font-size: 22px;
                line-height: 32px;
                color: $Gray-50;
            }

            &-top {
                padding-top: 6px;
            }

            &-bottom {
                border: none;
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
                color: $Gray-100;
            }
        }

        &__btn {
            margin: 0 auto;
            text-align: center;
        }
    }
}
