@import "../base/fonts";
@import "../base/variables";

.header {
    width: 100%;
    position: absolute;
    margin-top: 47px;
    top: 0;
    background: transparent;

    @media screen and (max-width: 1024px) {
        position: relative;
        padding-bottom: 15px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1024px) {
            margin: 0 auto;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__login {
        margin-right: auto;
    }

    .logo {
        max-height: 42px;

        svg {
            max-height: 42px;
        }

        @media screen and (max-width: 1024px) {
            margin-right: 10px;
        }
    }
}

.main-menu {
    width: 100%;
    margin-left: 80px;
    max-width: 655px;
    display: flex;
    gap: 40px;
    font-family: 'GT Eesti Pro';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    &__link {
        color: $Gray-100;
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.login {
    display: flex;
    align-items: center;

    &__login-wrap {
        // width: 100%;
        max-width: 412px;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        &_link {
            font-family: 'GT Eesti Pro';
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: $blue-deep;

            &:hover {
                transition: all .4s;
                color: $hover-color-teal;
            }
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    &__link {
        max-height: 42px;
        gap: 30px;

        svg {
            max-height: 42px;
            margin-right: 45px;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

}

.mobile-menu {
    height: 100vh;
    display: none;
    z-index: 999999;
    flex-direction: column;
    position: fixed;
    // position: sticky;
    top: 120px;
    right: 0;
    left: 0;
    padding-left: 20px;
    font-size: 24px;
    line-height: 28px;
    gap: 40px;
    background-color: $white-color;

    &__menu,
    &__link,
    &__reference {
        color: $Gray-100;
    }

    &__menu::after {
        content: ">";
        position: absolute;
        text-align: center;
        z-index: 1;
        max-width: 0;
        max-height: 0;
        right: 20px;
        background: $Gray-100;
    }

    &__reference::after {
        content: ">";
        position: absolute;
        text-align: center;
        z-index: 1;
        max-width: 0;
        max-height: 0;
        right: 20px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        background: $Gray-100;
    }

    &__registration {
        display: flex;
        align-items: center;
        gap: 22px;

        @media screen and (max-width: 348px) {
            flex-direction: column;
        }
    }

    &__vector {
        border: 1px solid $Gray-20;
    }

    &__btn {
        margin-left: 66px;
        padding: 13px 40px;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        border-radius: 66px;
        color: $white-color;
        background: $main-color-teal;
    }
}

.burger {
    position: relative;
    z-index: 9999;
    display: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background-image: url("../../img/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;

    &-active {
        background-image: url("../../img/close.svg");
    }
    
    @media (max-width: 1024px) {
        display: block;
    }
}