@import "../base/fonts";
@import "../base/variables";

.header {
    width: 100%;
    padding: 50px 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__login {
        margin-right: auto;
    }

    .logo {
        max-height: 42px;

        svg {
            max-height: 42px;
        }
    }
}

.main-menu {
    width: 100%;
    margin-left: 80px;
    max-width: 655px;
    display: flex;
    gap: 40px;
    font-family: 'GT Eesti Pro';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    &__link {
        color: $Gray-100;
    }
}

.login {
    display: flex;
    align-items: center;

    &__login-wrap {
        // width: 100%;
        max-width: 412px;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        &_link {
            font-family: 'GT Eesti Pro';
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: $blue-deep;

        &:hover {
            transition: all .4s;
            color: $hover-color-teal;
        }
        }
    }

    &__link {
        gap: 30px;
        max-height: 42px;

    svg {
        max-height: 42px;
        margin-right: 45px;
    }
    }

}

.mobile-menu {
    height: 100vh;
    display: none;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 24px;
    line-height: 28px;
    background-color: red;

    &__menu,
    &__link {
        margin: 0 auto;
        margin: 20px;
    }

    &__vector {
        border: 1px solid $Gray-20;
    }
}

.burger {
    position: relative;
    z-index: 9999;
    display: none;
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background-image: url("../../img/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;

    &-active {
        background-image: url("../../img/close.svg");
    }
    
    @media (max-width: 1024px) {
    display: block;
    }
}