@import "../base/fonts";
@import "../base/variables";

.hero {
    height: 70vh;
    background-image: url("../../img/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-y: hidden;

    @media screen and (max-width: 1370px) {
        min-height: 100vh;
        background-image: url("../../img/bg-mobile-menu.png");
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 80px;

        @media screen and (max-width: 1370px) {
            padding-top: 40px;
        }
    }

    &__col {

        &_left {
          max-width: 875px;
          
          @media screen and (max-width: 1280px) {
            max-width: 650px;
          }
          
          @media screen and (max-width: 680px) {
            margin: 0 auto;
          }
        }
    
        &_right {
          position: absolute;
          top: 9%;
          right: -10%;
          z-index: 1;

          @media screen and (max-width: 1600px) {
            right: -8%;
          }

          @media screen and (max-width: 1290px) {
            top: 70%;
          }

          @media screen and (max-width: 510px) {
            top: 67%;
          }

          @media screen and (max-width: 411px) {
            top: 72%;
          }
        }
    }

    &__img {
        width: 1617px;
        object-fit: cover;

        @media screen and (max-width: 760px) {
            width: 1200px;
            padding-top: 80px;
        }

        @media screen and (max-width: 660px) {
           display: none;
        }
    }

    &__mobile {
        display: none;

        @media screen and (max-width: 660px) {
            display: inline;
            margin: 0 auto;
        }
    }

    &__img-mobile {
        max-width: 100%;
        height: auto;

        @media screen and (max-width: 660px) {
            width: 50vh;
            margin: 30px auto;
            padding: 200px 50px 0 75px;
        }

        @media screen and (max-width: 280px) {
            padding-top: 180px;
        }
    }


    &__title {
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 103px;
        line-height: 114px;
        color: $Gray-100;

        @media screen and (max-width: 1280px) {
            margin-top: 0;
            font-size: 90px;
            line-height: 100px;
        }

        @media screen and (max-width: 1210px) {
            font-size: 75px;
            line-height: 90px;
        }

        @media screen and (max-width: 375px) {
            font-size: 52px;
            line-height: 55px;
        }
    }

    &__title-other {
        color: $main-color-teal;
    }

    &__btns {
        display: flex;
        position: relative;
        gap: 50px;
        z-index: 2;

        @media screen and (max-width: 1280px) {
            z-index: 0;
        }

        @media screen and (max-width: 690px) {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
    }
}