@import "../base/fonts";
@import "../base/variables";

.hero {
    height: 100vh;
    background-image: url("../../img/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;

    @media screen and (max-width: 1370px) {
        background-image: url("../../img/bg-mobile-menu.png");
    }

    &__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;

        @media screen and (max-width: 1370px) {
            padding-top: 40px;
        }
    }

    &__col {

        &_left {
          position: relative;
          max-width: 875px;
          padding-top: 30px;
          z-index: 2;
          
          @media screen and (max-width: 1200px) {
            max-width: 650px;
            z-index: 0;
          }
          
          @media screen and (max-width: 680px) {
            margin: 0 auto;
          }
        }
    
        &_right {
          position: absolute;
          top: 15%;
          right: 0;
          z-index: 1;

          @media screen and (max-width: 1200px) {
            top: 100%;
          }
        }
    }

    &__img {
        width: 100%;
        max-width: 1500px;
        min-width: 700px;
        object-fit: cover;

        @media screen and (max-width: 680px) {
           display: none;
        }
    }

    &__mobile {
        display: none;

        @media screen and (max-width: 680px) {
            display: inline;
            margin: 0 auto;
        }
    }

    &__img-mobile {
        max-width: 100%;
        height: auto;

        @media screen and (max-width: 680px) {
            width: 60vh;
            margin: 0 auto;
        }
    }


    &__title {
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 103px;
        line-height: 114px;
        color: $Gray-100;

        @media screen and (max-width: 1285px) {
            font-size: 90px;
            line-height: 100px;
        }

        @media screen and (max-width: 1210px) {
            font-size: 75px;
            line-height: 90px;
        }

        @media screen and (max-width: 375px) {
            font-size: 52px;
            line-height: 55px;
        }

        &_span {
            color: $main-color-teal;
        }
    }

    &__btns {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 690px) {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
    }

    &__watch {
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (max-width: 250px) {
            flex-direction: column-reverse;
        }
    }
}