@import "../base/fonts";
@import "../base/variables";

.hero {
    background-image: url("../../img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100em 100%;
    background-position: center;

    @media screen and (max-width: 1024px) {
        background-image: url("../../img/mobile-bg.png");
    }

    &__box {
        max-width: 875px;
        padding-top: 100px;
        padding-bottom: 350px;

        @media screen and (max-width: 1024px) {
            max-width: 745px;
            margin: 0 auto;
        }
    }

    &__title {
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 103px;
        line-height: 114px;
        color: $Gray-100;

        &_span {
            color: $main-color-teal;
        }
    }

    &__button {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__watch {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}