@import "../base/fonts";
@import "../base/variables";

.hero {
    background-image: url("../../img/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;

    // @media screen and (max-width: 1024px) {
    //     background-image: url("../../img/mobile-bg.png");
    // }

    &__box {
        padding-top: 100px;
    }

    &__title {
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 103px;
        line-height: 114px;
        color: $Gray-100;

        &_span {
            color: $main-color-teal;
        }

        @media screen and (max-width: 1024px) {
            font-weight: 450;
        }
    }

    &__but {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
        }
    }

    &__watch {
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (max-width: 1024px) {
            margin: 0 auto;
        }
    }
}