@import "../base/fonts";
@import "../base/variables";

.hero {
    height: 100vh;
    position: relative;
    background-image: url("../../img/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;

    @media screen and (max-width: 1350px) {
        flex-direction: column;
        background-image: url("../../img/bg-mobile-menu.png");
    }

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;

        @media screen and (max-width: 1045px) {
            display: block;
            padding-top: 0;
        }
    }

    &__col {
    
        &_left {
          flex-basis: 65%;
          max-width: 875px;
          padding-top: 30px;
        }
    
        &_right {
          flex-basis: 35%;
          position: absolute;

          @media screen and (max-width: 1370px) {
            flex-direction: column;
        }
        }
    }

    &__title {
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 103px;
        line-height: 114px;
        color: $Gray-100;

        @media screen and (max-width: 1370px) {
            font-size: 80px;
            line-height: 87px;
        }

        @media screen and (max-width: 1250px) {
            font-size: 50px;
            line-height: 57px;
        }

        @media screen and (max-width: 300px) {
            font-size: 25px;
            line-height: 30px;
          }

        &_span {
            color: $main-color-teal;
        }
    }

    &__btn {
        display: flex;
        gap: 50px;

        @media screen and (max-width: 1250px) {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
    }

    &__watch {
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (max-width: 1250px) {
            margin: 0 auto;
        }

        @media screen and (max-width: 300px) {
            flex-direction: column-reverse;
          }
    }
}