@import "../base/fonts";
@import "../base/variables";

.hero-page5 {
    background-image: url("../../img/hero/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-y: hidden;

    @media screen and (max-width: 1370px) {
        background-image: url("../../img/hero/bg-mobile-menu.png");
    }

    &__container {
       padding-top: 175px;
       padding-bottom: 100px;

       @media screen and (max-width: 1024px) {
        padding: 80px 0;
       }
    }

    &__title {
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 103px;
        line-height: 114px;
        color: $Gray-100;

        @media screen and (max-width: 1024px) {
            font-size: 52px;
            line-height: 55px;
        }
    }
}