@import "../base/fonts";
@import "../base/variables";

.insurance {
    height: 575px;
    border-radius: 60px 60px 0 0;
    background-image: url("../../img/insurance.img/insurance-bg.png");
    background-repeat: no-repeat; 
    background-size: auto;

    &__container {
        position: relative;
        padding-top: 80px;
    }

    &__title {
        position: relative;
        max-width: 1030px;
        margin: 0 auto;
        padding-bottom: 80px;
        text-align: center;
        left: 11rem;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        @media screen and (max-width: 1024px) {
            font-size: 40px;
            line-height: 44px;
        }
    
        &-other {
            color: $main-color-teal;
        }

        &-shade {
            content: "";
            background-image:  url("../../img/insurance.img/insurance-before.svg");
            // background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 605px;
            height: 380px;
            top: 41%;
            left: -29%;
            opacity: .5;
        }

    }

    &__box {
        position: relative;
        padding-top: 80px;
        text-align: center;
        left: 12%;
    }

    &__img {
        max-width: 185px;
    }
}