@import "../base/fonts";
@import "../base/variables";

.insurance {
    height: 575px;
    border-radius: 60px 60px 0 0;
    background-image: url("../../img/insurance.img/insurance-bg.png");
    background-repeat: no-repeat; 
    background-size: auto;
    
    // @media screen and (max-width: 1024px) {
    //     height: 415px;
    // }

    &__container {
        position: relative;
    }

    &__content {
        position: relative;

        &::before {
            content: "";
            background-image:  url("../../img/insurance.img/insurance-before.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 570px;
            height: 400px;
            top: 40%;
            left: -2%;
            opacity: .2;

            @media screen and (max-width: 1024px) {
                width: 500px;
                height: 337px;
                top: 54%;
                left: 2%;
            }

            @media screen and (max-width: 550px) {
                width: 450px;
                top: 63%;
                left: 4%;
            }
        }
    }

    &__title {
        position: relative;
        max-width: 1030px;
        margin: 0 auto;
        padding-top: 80px;
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        @media screen and (max-width: 1024px) {
            max-width: 305px;
            padding-top: 55px;
            font-size: 40px;
            line-height: 44px;
        }
    
        &-other {
            color: $main-color-teal;
        }
    }

    &__box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 7%;

        @media screen and (max-width: 1024px) {
            display: inline-flex;
            padding-bottom: 30px;
        }
    }

    &__img {
        max-width: 185px;
        @media screen and (max-width: 1024px) {
            display: none;
        }
        
        &-mobile {
            display: none;
            @media screen and (max-width: 1024px) {
                display: inline;
                width: 190px;
            }
        }
    }
}