@import "../base/fonts";
@import "../base/variables";

.leaders {
    padding: 130px 0;

    &__title {
        margin-bottom: 0;
        padding-bottom: 50px;
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $Gray-100;
    }

    &__subtitle {
        padding-bottom: 80px;
        text-align: center;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-100;
    }
}

.slider-leaders {
    max-width: 1560px;
    width: 100%;
    display: flex;
    gap: 30px;

    &__item {
        border: 1px solid $Gray-10;
        box-shadow: $box-shadow-l;
        border-radius: 12px;
    }

    &__content {
        padding: 0 32px 40px 32px;
    }

    &__img {
        max-width: 500px;
    }

    &__title {
        margin-bottom: 0;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 54px;
        line-height: 58px;
        color: $Gray-100;
    }

    &__subtitle {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-80;
    }

    &__text {
        max-width: 435px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $Gray-100;
    }
}

.slider-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__social {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__button {
        position: relative;
        padding-right: 8px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $Gray-100;

        &::after {
            content: "";
            background-image: url('../../img/contact-us/liders-img/arrow.svg');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            width: 10px;
            height: 17px;
            top: -2px;
            right: -10px;
        }
    }
}

.slider-btn {
    padding-top: 80px;
    text-align: center;

    &__prev,
    &__next {
        border: none;
        background-color: transparent;
    }
}