@import "../base/fonts";
@import "../base/variables";

.partners {
    padding-bottom: 130px;

    &__box {
        background-color: $blue-dark;
        border-radius: 12px;
    }

    &__title {
        padding-top: 80px;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        text-align: center;
        color: $white-color;

        @media screen and (max-width: 1024px) {
            padding-top: 55px;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        padding-bottom: 80px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-30;

        @media screen and (max-width: 1024px) {
            padding-bottom: 32px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .partner {
        max-width: 1290px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding-bottom: 120px;
        gap: 30px;

        @media screen and (max-width: 1100px) {
            display: none;
        }

        @media screen and (max-width: 1024px) {
            max-width: 700px;
        }

        &__element {
            padding: 34px 52px;
            background: #0D1958;
            border-radius: 12px;

            @media screen and (max-width: 1024px) {
                padding: 19px 30px;
            }
        }
    
        &__img {
            max-width: 135px;

            @media screen and (max-width: 1024px) {
                max-width: 78px;
            }
        }
    }

    //SLIDER
    .slider {
        display: flex;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 60px;
        gap: 20px;

        .slider-mobile {
            display: none;

            @media screen and (max-width: 1100px) {
                display: inline;
            }

            @media screen and (max-width: 1024px) {
                max-width: 700px;
                font-size: 18px;
                line-height: 26px;
            }

            &__element {
                padding: 34px 52px;
                background: #0D1958;
                border-radius: 12px;

                @media screen and (max-width: 1024px) {
                    padding: 19px 30px;
                }
            }
        
            &__img {
                max-width: 135px;

                @media screen and (max-width: 1024px) {
                    max-width: 78px;
                }
            }
        }
    }
}