@import "../base/fonts";
@import "../base/variables";
  
.properties {
    padding-bottom: 130px;
    background: $blue-dark;

    &__container {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    &__title {
        width: 830px;
        padding-bottom: 90px;
        margin: 0 auto;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        &-other {
            color: $main-color-teal;
        }
    }

    &__block {
        display: flex;
    }

    &__box {
        width: 765px;
        background: $blue-deep;
        box-shadow: $box-shadow-m;
        border-radius: 12px;

        &_hidden {
            display: none;

            &-1 {
                display: inline;
            }
        }

        &_active {
            display: block;
        }
    }

    &__shell {
        display: flex;
        padding: 40px;
        gap: 50px;
    }

    &__img {
        max-width: 235px;
    }

    &__text {
        width: 400px;
        margin: 0;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $white-color;
    }

    .properties-menu {
        max-height: 335px;
        display: grid;
        position: relative;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 22px;
        gap: 24px;

        &::before {
            content: "";
            position: absolute;
            height: 358px;
            border: 2px solid $blue-deep;
        }

        &__link {
            position: relative;
            width: 200px;
            font-family: 'GT Eesti Pro';
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            color: $Gray-30;

            &_active {
                color: $white-color;

                &::before {
                    content: "";
                    position: absolute;
                    display: inline;
                    width: 0px;
                    height: 55px;
                    top: -20px;
                    left: -22px;
                    border: 2px solid $main-color-pink;
                }
            }
        }
                
    }
}