@import "../base/fonts";
@import "../base/variables";

.questions {

    &__box {
        background: $light-gray;
        border-radius: 12px;
    }

    &__title {
        margin-bottom: 0;
        padding-top: 80px;
        padding-bottom: 50px;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        text-align: center;
        color: $Gray-100;

        @media screen and (max-width: 1024px) {
            padding-top: 55px;
            padding-bottom: 24px;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        padding-bottom: 80px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-80;

        @media screen and (max-width: 1024px) {
            margin: 0;
            padding-bottom: 24px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__col {
        max-width: 1000px;
        margin: 0 auto;
        cursor: pointer;

        @media screen and (max-width: 1024px) {
            max-width: 500px;
        }

        &::before {
            content: "";
            display: block;
            margin: 0;
            border: 1px solid $Gray-20;

            @media screen and (max-width: 525px) {
                margin: 0 24px;
            }
        }

        &-tail {
            &::after {
                content: "";
                display: block;
                margin: 0;
                border: 1px solid $Gray-20;
    
                @media screen and (max-width: 525px) {
                    margin: 0 24px;
                }
            }
        }
    }

    &__band {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        margin: 0 33px;
        padding: 32px 0;
        font-family: 'GT Eesti Pro';
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: $Gray-80;

        &::after {
            content: "\002B";
            width: 46px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            font-size: 3rem;
            font-weight: bold;
            right: 1rem;
            border-radius: 46px;
            border: 2px solid $Gray-30;
        }

        @media screen and (max-width: 1024px) {
            font-size: 18px;
            line-height: 22px;
        }

        &_active {
            display: block;
            margin: 0;
            padding: 32px;
            background-color: $white-color;

            &::after {
                content: "\00D7";
                width: 46px;
                height: 46px;
                position: absolute;
                align-items: center;
                justify-content: center;
                padding: 20px;
                top: 20px;
                font-size: 3rem;
                font-weight: bold;
                right: 2rem;
                border-radius: 46px;
                border: 2px solid $Gray-30;
            }

            @media screen and (max-width: 1024px) {
                padding: 16px 24px;
                background-color: $light-gray;
            }
        }
    }

    &__content {
        max-width: 750px;
        padding-top: 32px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-100;

        &_hidden {
            display: none;
        }

        @media screen and (max-width: 1024px) {
            max-width: 295px;
            padding-top: 18px;
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__btn {
        padding-top: 80px;
        padding-bottom: 120px;
        text-align: center;

        @media screen and (max-width: 1024px) {
            padding-bottom: 60px;
        }
    }
}