@import "../base/fonts";
@import "../base/variables";

.questions {

    @media screen and (max-width: 1550px) {
        margin: 0 16px;
    }

    &__container {
        background: $light-gray;
        border-radius: 12px;
    }

    &__title {
        margin-bottom: 0;
        padding-top: 80px;
        padding-bottom: 50px;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        text-align: center;
        color: $Gray-100;

        @media screen and (max-width: 1024px) {
            padding-top: 55px;
            padding-bottom: 24px;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        padding-bottom: 80px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-80;

        @media screen and (max-width: 1024px) {
            margin: 0;
            padding-bottom: 24px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__btn {
        padding: 100px 0 130px 0;
        text-align: center;

        @media screen and (max-width: 1024px) {
            padding-bottom: 60px;
        }
    }

    .accordion {
        max-width: 1000px;
        margin: 0 auto;
        cursor: pointer;
    }

    .accordion-item {
        &::before {
            content: "";
            display: block;
            margin: 0;
            border: 1px solid $Gray-20;
        }

        &_tail {
            &::after {
                content: "";
                display: block;
                margin: 0;
                border: 1px solid $Gray-20;
            }
        }
    }

    .accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 32px;
        font-family: 'GT Eesti Pro';
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: $Gray-80;

        &_active {
            .accordion-toggle {
                transform: rotate(45deg);
                transition: all .4s;
            }
        }

        &:hover {
            color: $Gray-100;
        }

        &:active {
            color: $Gray-100;
        }

        &:focus {
            color: $Gray-60;
        }

        @media screen and (max-width: 1024px) {
            padding: 17px 24px;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .accordion-content {
        display: none;
        max-width: 794px;
        padding: 0 0 32px 32px;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $Gray-100;

        @media screen and (max-width: 1024px) {
            // max-width: 550px;
            padding: 0 24px 16px 24px;
            font-size: 18px;
            line-height: 28px;
        }

        // @media screen and (max-width: 560px) {
        //     max-width: 295px;
        // }

        &_active {
            background-color: $white-color;
        }
    }
      
    .accordion-toggle {
        transition: all .4s;
        display: inline-block;
        width: 54px;
        height: 54px;
        background: url("../../img/questions-img/Questions.svg") no-repeat;
        background-size: contain;
        transition: transform all 0.4s;

        @media screen and (max-width: 1024px) {
            width: 46px;
            height: 46px;
        }
    }
    
    .accordion-item.active .accordion-toggle {
        background-image: url("../../img/questions-img/questions-activ.svg");
        width: 54px;
        height: 54px;

        @media screen and (max-width: 1024px) {
            width: 46px;
            height: 46px;
        }
    } 
}