@import "../base/fonts";
@import "../base/variables";

.specialities {
    padding: 130px 0;
    
    &__container {
        padding: 0 0 30px 0;
        background-color: gainsboro;
    }
    
    &__title {
        padding-top: 50px;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        text-align: center;
        color: $Gray-100;

        @media screen and (max-width: 645px) {
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-80;

        @media screen and (max-width: 645px) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__top-block {
        display: flex;
        padding-top: 80px;
        padding-bottom: 30px;
        gap: 30px;

        @media screen and (max-width: 1380px) {
            flex-direction: column;
            padding-top: 32px;
            gap: 15px;
        }
    }

    //Invesrots
    &__investors {
        background-image: url("../../img/Investors-portfolio.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 765px;
        height: 435px;
        padding-top: 50px;
        padding-left: 55px;
        border-radius: 30px;

        @media screen and (max-width: 1024px) {
            background-image: url("../../img/mobile-menu/Investors\ portfolio-mb.png");
            width: 345px;
            height: 450px;
            margin: 0 auto;
        }
    }

    &__number {
        display: flex;
        align-items: center;
        max-width: 30px;
        max-height: 38px;
        padding: 4px 16px;
        border: 1px solid $Gray-10;
        border-radius: 66px;

        font-family: 'GT Eesti Pro';
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: $Gray-10;

        @media screen and (max-width: 1024px) {
            max-width: 15px;
            max-height: 30px;
            font-size: 18px;
            line-height: 22px;

        }
    }

    &__text-investors,
    &__text-commercial,
    &__text-multifamily,
    &__text-storage,
    &__text-builder,
    &__text-hotel {
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 54px;
        line-height: 58px;
        color: $white-color;
    }

    &__text-investors {
        max-width: 550px;
    }

    //Commercial
    &__commercial {
        background-image: url("../../img/Commercial-property.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 765px;
        padding-top: 50px;
        padding-left: 55px;
        border-radius: 30px;

        @media screen and (max-width: 1024px) {
            background-image: url("../../img/mobile-menu/Commercial\ property-mb.png");
            width: 345px;
            height: 450px;
            margin: 0 auto;
        }

    }

    &__text-commercial {
        max-width: 620px;
    }


    &__bottom-block {
        display: flex;
        max-width: 975px;
        gap: 30px;
    }

    //Multy Family
    &__multifamily {
        background-image: url("../../img/Multi-family.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        padding-bottom: 100px;
        padding-top: 50px;
        padding-left: 55px;
        border-radius: 30px;
    }

    &__text-multifamily {
        max-width: 490px;
    }


    &__col {
        display: flex;
        padding-top: 30px;
        gap: 30px;
    }

    //Storage
    &__storage {
        background-image: url("../../img/storage-img.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 475px;
        height: 435px;
        padding-top: 50px;
        padding-left: 55px;
        border-radius: 30px;
    }

    //Builder
    &__builder {
        background-image: url("../../img//Builder-risk.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 475px;
        padding-top: 50px;
        padding-left: 55px;
        border-radius: 30px;
    }

    //Hotel
    &__hotel {
        background-image: url("../../img/motel\ -img.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        width: 385px;
        height: 1000px;
        padding-top: 50px;
        padding-left: 55px;
        border-radius: 30px;
    }

    &__text-hotel {
        max-width: 495px;
    }
}