@import "../base/fonts";
@import "../base/variables";

.specialities {
    padding-bottom: 130px;

    @media screen and (max-width: 1024px) {
        padding-bottom: 60px;
    }

    &__container {

        @media screen and (max-width: 1024px) {
            padding: 0 16px 60px 16px;
        }
    }

    &__title {
        padding-top: 50px;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        text-align: center;
        color: $Gray-100;

        @media screen and (max-width: 1024px) {
            padding-top: 60px;
            padding-bottom: 24px;
            margin-bottom: 0;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-80;

        @media screen and (max-width: 1024px) {
            padding-bottom: 32px;
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__top-block {
        display: flex;
        padding-top: 80px;
        padding-bottom: 30px;
        gap: 30px;

        @media screen and (max-width: 1380px) {
            flex-direction: column;
            align-items: center;
            padding-top: 32px;
            padding-bottom: 15px;
            gap: 15px;
        }
    }

    &__block-bottom {
        display: flex;
        gap: 30px;

        @media screen and (max-width: 1380px) {
            flex-direction: column-reverse;
            gap: 15px;
        }   
    }

    &__img {
        position: absolute;
        max-width: 310px;
        max-height: 310px;
        bottom: 0;
        right: 0;

        &-multifamily {
            position: absolute;
            max-width: 435px;
            max-height: 310px;
            bottom: 0;
            right: 0;

            @media screen and (max-width: 1024px) {
                max-width: 345px;
                max-height: 260px;
            }
        }

        &-hotel {
            position: absolute;
            max-width: 455px;
            max-height: 563px;
            bottom: 0;
            right: 0;

            @media screen and (max-width: 1380px) {
                max-width: 350px;
                max-height: 450px;
            }

            @media screen and (max-width: 1024px) {
                max-width: 260px;
                max-height: 260px;
            }
        }

        &-bulder,
        &-storage {
            position: absolute;
            max-width: 330px;
            max-height: 205px;
            bottom: 0;
            right: 0;
        }

        @media screen and (max-width: 1024px) {
            max-width: 260px;
            max-height: 260px;
        }

        @media screen and (max-width: 375px) {
            max-width: 160px;
            max-height: 160px;
        }
    }

    //investors
    &__investors {
        position: relative;
        background-image: url("../../img/specialities/investors-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 765px;
        height: 435px;
        padding-top: 15px;
        padding-left: 55px;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (max-width: 1380px) {
            width: 100%;
            height: 450px;
            padding-top: 32px;
            padding-left: 24px;
        }
    }

    &__number {
        display: flex;
        max-width: 55px;
        max-height: 38px;
        padding: 5px 14px;
        border: 1px solid $Gray-10;
        border-radius: 66px;

        font-family: 'GT Eesti Pro';
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: $Gray-10;

        @media screen and (max-width: 1024px) {
            width: 50px;
            height: 30px;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__text-investors,
    &__text-commercial,
    &__text-multifamily,
    &__text-storage,
    &__text-builder,
    &__text-hotel {
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 54px;
        line-height: 58px;
        color: $white-color;

        @media screen and (max-width: 1024px) {
            font-size: 32px;
            line-height: 38px;
        }
    }

    &__text-investors {
        max-width: 550px;

        @media screen and (max-width: 1024px) {
            max-width: 290px;
        }
    }

    //commercial
    &__commercial {
        position: relative;
        background-image: url("../../img/specialities/commercian-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 765px;
        height: 435px;
        padding-top: 15px;
        padding-left: 55px;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (max-width: 1380px) {
            width: 100%;
            height: 450px;
            padding-top: 32px;
            padding-left: 24px;
        }
    }

    &__text-commercial {
        max-width: 620px;

        @media screen and (max-width: 1024px) {
            max-width: 295px;
        }
    }
    //multifamily
    &__multifamily {
        position: relative;
        background-image: url("../../img/specialities/multifam-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 475px;
        padding-top: 15px;
        padding-left: 55px;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (max-width: 1380px) {
            width: 100%;
            height: 450px;
            padding-top: 32px;
            padding-left: 24px;
        }
    }

    &__text-multifamily {
        max-width: 490px;

        @media screen and (max-width: 1024px) {
            max-width: 250px;
        }
    }

    //Hotel
    &__hotel {
        position: relative;
        background-image: url("../../img/specialities/hotel-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        height: 940px;
        padding-top: 15px;
        padding-left: 55px;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (max-width: 1380px) {
            width: 100%;
            height: 450px;
            padding-top: 32px;
            padding-left: 24px;
        }
    }

    &__text-hotel {
        max-width: 495px;

        @media screen and (max-width: 1024px) {
            max-width: 295px;
        }
    }

    &__bottom-col {
        display: flex;
        padding-top: 30px;
        gap: 30px;

        @media screen and (max-width: 1380px) {
            flex-direction: column;
        }

        @media screen and (max-width: 1024px) {
            align-items: center;
            padding-top: 15px;
            gap: 15px;
        }
    }

    //storage
    &__storage {
        position: relative;
        background-image: url("../../img/specialities/storage-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 475px;
        height: 435px;
        padding-top: 15px;
        padding-left: 55px;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (max-width: 1380px) {
            width: 100%;
            height: 450px;
            padding-top: 32px;
            padding-left: 24px;
        }
    }

    &__text-storage {

        @media screen and (max-width: 1024px) {
            max-width: 295px;
        }
    }

    //builder
    &__builder {
        position: relative;
        background-image: url("../../img/specialities/Builder-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        width: 475px;
        height: 435px;
        padding-top: 15px;
        padding-left: 55px;
        border-radius: 30px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (max-width: 1380px) {
            width: 100%;
            height: 450px;
            margin: 0 auto;
            padding-top: 32px;
            padding-left: 24px;
        }
    }

    &__text-builder {

        @media screen and (max-width: 1024px) {
            max-width: 295px;
        }
    }
}