@import "../base/fonts";
@import "../base/variables";

.steps {
    background: $blue-dark;

    &__container {
        position: relative;
    }

    &__block {
        position: relative;
        margin: 0 auto;
        max-width: 738px;
        padding-top: 200px;
        padding-bottom: 80px;
        z-index: 2;

        @media screen and (max-width: 880px) {
            max-width: 345px;
            padding-top: 74px;
            z-index: 0;
        }

        &::before {
            content: "";
            background-image:  url("../../img/steps-namber.svg");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 350px;
            height: 350px;
            top: 130px;
            left: -187px;
            z-index: 0;

            @media screen and (max-width: 1045px) {
                left: -40px;
                top: 48px;
            }

            @media screen and (max-width: 880px) {
                max-width: 135px;
                max-height: 146px;
                margin: 0 15px;
            }
        }
    }

    &__title {
        position: relative;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;
        z-index: 2;

        @media screen and (max-width: 880px) {
            padding-bottom: 24px;
            font-size: 40px;
            line-height: 44px;
        }

        &-text {
            position: relative;
            z-index: 2;
        }

        &-lines {
            position: relative;
            z-index: 2;
        }

        &-line {
            content: "";
            position: absolute;
            bottom: 12px;
            left: 1px;
            width: 210px;
            height: 21px;
            background-color: #E91E63;
            z-index: 1;

            @media screen and (max-width: 880px) {
                width: 92px;
                height: 13px;
                bottom: 6px;
                left: 2px;
            }

            // @media screen and (max-width: 360px) {
            //     left: 7px;
            // }

            // @media screen and (max-width: 340px) {
            //     left: 3px;
            // }
        }
    }

    &__subtitle {
        max-width: 525px;
        margin: 0 auto;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-30;

        @media screen and (max-width: 375px) {
            max-width: 345px;
            font-size: 18px;
            line-height: 26px;
        }

        @media screen and (max-width: 290px) {
            font-size: 15px;
            line-height: 20px;
        }
    }
    

    .step {
        width: 100%;
        display: flex;
        padding-bottom: 100px;
        gap: 30px;

        @media screen and (max-width: 1230px) {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }


        &__item {
            background: red;
            padding: 0 40px;
            border-radius: 12px;
            background: $step-namber;

            @media screen and (max-width: 490px) {
                padding: 0 25px;
            }
        }

        &__point {
            max-width: 500px;

            @media screen and (max-width: 375px) {
                max-width: 345px;
                margin: 0 auto;
            }
        }

        &__namber {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 380px) {
                flex-direction: column;
            }
        
        }

        &__title {
            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 54px;
            line-height: 58px;
            color: $white-color;

            @media screen and (max-width: 490px) {
                font-size: 32px;
                line-height: 38px;
            }

            @media screen and (max-width: 380px) {
                margin-bottom: 5px;
            }
        }

        &__subtitle {
            padding: 5px 20px;
            max-height: 52px;
            border: 2px solid $Gray-30;
            border-radius: 99px;

            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
            color: $white-color;

            @media screen and (max-width: 380px) {
                max-height: 35px;
                font-size: 26px;
                line-height: 28px;
            }
        }

        &__vector {
            max-width: 70px;
            border: 2px solid $main-color-teal;

            @media screen and (max-width: 380px) {
                margin: 0 auto;
            }
        }

        &__text {
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $white-color;
            
            @media screen and (max-width: 490px) {
                font-size: 16px;
                line-height: 28px;
            }
        }

        &__img {
            max-width: 740px;
            
            &_1 {
                padding-top: 115px;

                @media screen and (max-width: 1380px) {
                    padding-top: 30px;
                }
            }

            &_2 {
                padding-top: 45px;

                @media screen and (max-width: 1380px) {
                    padding-top: 30px;
                }
            }

            &_3 {
                padding-top: 130px;

                @media screen and (max-width: 1380px) {
                    padding-top: 30px;
                }
            }
        }
    } 

    .btn-steps {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 120px;

        @media screen and (max-width: 490px) {
            margin-bottom: 55px;
        }
    }
}
