@import "../base/fonts";
@import "../base/variables";

.steps {
    background: $blue-dark;

    &__container {
        position: relative;
    }

    &__col {
        display: flex;
        padding-top: 200px;
        transform: translate(27%);

        &_left {
            position: absolute;
            max-width: 350px;
            left: 0;
            padding-top: 130px;
            z-index: 1;
        }

        &_right {
            position: relative;
            max-width: 730px;
            z-index: 2;
            padding-bottom: 80px;

        }
    }

    // &__left {
    //     // position: relative;
    //     padding-top: 30%;
    //     z-index: 1;
    // }

    &__number {
        font-family: 'Poller One';
        font-weight: 400;
        font-size: 450px;
        line-height: 100px;
        color: $step-namber;
    }

    // &__right {
    //     // position: absolute;
    //     max-width: 730px;
    //     padding-top: 200px;
    //     z-index: 2;
    //     padding-bottom: 80px;
    // }

    &__title {
        // padding-bottom: 50px;
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        &_span {
            background: $main-color-pink;
        }
    }

    &__subtitle {
        max-width: 525px;
        margin: 0 auto;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-30;
    }
    

    .step {
        display: flex;
        padding: 80px 0 100px;
        gap: 30px;

        @media screen and (max-width: 1370px) {
            margin: 0 auto;
            padding: 35px 0 55px;
            flex-direction: column;
        }

        &__container {
        
            @media screen and (max-width: 1370px) {
                margin: 0 auto;
            }
        }

        &__item {
            padding: 70px 56px 40px;
            border-radius: 12px;
            background: $step-namber;

            @media screen and (max-width: 1370px) {
                margin: 0 auto;
            }
        }

        &__point {
            max-width: 500px;

            @media screen and (max-width: 1370px) {
                margin: 0 auto;
            }
        }

        &__namber {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 376px) {
                flex-direction: column;
            }
        
        }

        &__title {
            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 54px;
            line-height: 58px;
            color: $white-color;
        }

        &__subtitle {
            display: flex;
            padding: 4px 20px;
            max-width: 82px;
            max-height: 52px;
            border: 2px solid $Gray-30;
            border-radius: 99px;

            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
            color: $white-color;
        }

        &__vector {
            max-width: 70px;
            margin: 16px 0;
            border: 2px solid $main-color-teal;
        }

        &__text {
            margin: 0 auto;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $white-color;
        }

        &__img {
            max-width: 740px;
            
            &_1 {
                padding-top: 100px;
            }

            &_2 {
                padding-top: 45px;
            }

            &_3 {
                padding-top: 130px;
            }
        }
    } 

    .btn-steps {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 120px;
    }
}
