@import "../base/fonts";
@import "../base/variables";

.steps {
    background: $blue-dark;

    &__container {
        position: relative;
    }

    &__col {
        display: flex;
        padding-top: 200px;
        transform: translate(27%);

        @media screen and (max-width: 1110px) {
            padding-bottom: 32px;
            margin: 0 auto;
        }

        &_left {
            position: absolute;
            left: -200px;
            padding-top: 130px;
            z-index: 1;

            @media screen and (max-width: 1370px) {
                max-width: 125px;
                padding-top: 50px;
            }
        }

        &_right {
            position: relative;
            max-width: 730px;
            z-index: 2;
            padding-bottom: 80px;

            @media screen and (max-width: 1370px) {
                max-width: 350px;
                padding-bottom: 32px;
            }

        }
    }

    &__number {
        font-family: 'Poller One';
        font-weight: 400;
        font-size: 450px;
        line-height: 100px;
        color: $step-namber;

        @media screen and (max-width: 870px) {
            font-size: 300px;
            line-height: 50px;
        }
    }

    &__title {
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        &_span {
            background: $main-color-pink;
        }

        @media screen and (max-width: 1370px) {
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__subtitle {
        max-width: 525px;
        margin: 0 auto;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-30;

        @media screen and (max-width: 1370px) {
            font-size: 18px;
            line-height: 26px;
        }
    }
    

    .step {
        display: flex;
        align-items: center;
        padding-bottom: 100px;
        gap: 30px;

        @media screen and (max-width: 1110px) {
            margin: 0 auto;
            flex-direction: column;
            gap: 16px;
        }


        &__item {
            padding: 0 40px 0 55px;
            border-radius: 12px;
            background: $step-namber;

            @media screen and (max-width: 1370px) {
                margin: 0 auto;
            }
        }

        &__point {
            max-width: 500px;

            @media screen and (max-width: 1370px) {
                max-width: 345px;
                margin: 0 auto;
            }
        }

        &__namber {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 380px) {
                flex-direction: column;
            }
        
        }

        &__title {
            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 54px;
            line-height: 58px;
            color: $white-color;

            @media screen and (max-width: 1380px) {
                font-size: 32px;
                line-height: 38px;
            }

            @media screen and (max-width: 380px) {
                margin-bottom: 5px;
            }
        }

        &__subtitle {
            padding: 5px 20px;
            max-height: 52px;
            border: 2px solid $Gray-30;
            border-radius: 99px;

            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
            color: $white-color;

            @media screen and (max-width: 380px) {
                max-height: 35px;
                font-size: 26px;
                line-height: 28px;
            }
        }

        &__vector {
            max-width: 70px;
            border: 2px solid $main-color-teal;
        }

        &__text {
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $white-color;
            
            @media screen and (max-width: 380px) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        &__img {
            max-width: 740px;
            
            &_1 {
                padding-top: 110px;

                @media screen and (max-width: 1380px) {
                    padding-top: 30px;
                }
            }

            &_2 {
                padding-top: 45px;

                @media screen and (max-width: 1380px) {
                    padding-top: 30px;
                }
            }

            &_3 {
                padding-top: 130px;

                @media screen and (max-width: 1380px) {
                    padding-top: 30px;
                }
            }

            @media screen and (max-width: 1380px) {
                max-width: 345px;
            }
        }
    } 

    .btn-steps {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 120px;
    }
}
