@import "../base/fonts";
@import "../base/variables";

.steps {
    background: $blue-dark;

    &__container {
        position: relative;
    }

    &__block {
        position: relative;
        margin: 0 auto;
        max-width: 738px;
        padding-top: 200px;
        padding-bottom: 80px;
        z-index: 2;

        @media screen and (max-width: 880px) {
            max-width: 345px;
            padding: 75px 0 0 35px;
        }

        &::before {
            content: "";
            // content:url("../../img/steps-namber.svg");
            background-image:  url("../../img/steps-namber.svg");
            // background-image: url("data:image/svg+xml,%3Csvg width='284' height='333' viewBox='0 0 284 333' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3096 258.226C28.2393 259.251 32.1943 260.569 37.1748 262.181C42.1553 263.646 47.7949 265.184 54.0938 266.795C60.3926 268.26 66.9844 269.578 73.8691 270.75C80.9004 271.775 87.8584 272.288 94.7432 272.288C105.437 272.288 114.958 270.896 123.308 268.113C131.657 265.184 138.688 261.302 144.401 256.468C150.114 251.634 154.436 246.141 157.365 239.988C160.441 233.689 161.979 227.244 161.979 220.652C161.979 213.035 160.075 205.931 156.267 199.339C152.458 192.747 146.965 187.181 139.787 182.64C132.756 178.099 124.187 174.803 114.079 172.752C104.118 170.555 92.9121 170.115 80.4609 171.434V143.748L163.298 79.8076L115.617 82.2246H20.0361V0.486328H270.085V47.2881L162.858 128.147C182.487 128.733 199.772 131.663 214.714 136.937C229.802 142.21 242.399 149.241 252.507 158.03C262.614 166.819 270.231 177 275.358 188.572C280.632 200.145 283.269 212.522 283.269 225.706C283.269 241.673 279.606 256.248 272.282 269.432C264.958 282.469 254.704 293.675 241.521 303.05C228.483 312.278 212.81 319.456 194.499 324.583C176.188 329.563 156.047 332.054 134.074 332.054C121.477 332.054 109.099 331.175 96.9404 329.417C84.9287 327.806 73.2832 325.462 62.0039 322.386C50.7246 319.31 39.8848 315.574 29.4844 311.18C19.2305 306.785 9.70898 301.878 0.919922 296.458L25.3096 258.226Z' fill='%230D1A59'/%3E%3C/svg%3E%0A");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 350px;
            height: 350px;
            // max-width: 345px;
            // max-height: 100px;
            top: 130px;
            left: -187px;
            z-index: 0;

            @media screen and (max-width: 1045px) {
                left: -40px;
                top: 130px;
            }

            @media screen and (max-width: 875px) {
                max-width: 125px;
                max-height: 146px;
            }
        }
    }

    &__title {
        position: relative;
        max-width: 740px;
        margin: 0 auto;
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        @media screen and (max-width: 875px) {
            font-size: 40px;
            line-height: 44px;
        }

        &-text {
            position: relative;
            z-index: 2;
        }

        &-line {
            content: "";
            position: absolute;
            bottom: 12px;
            left: 1px;
            width: 210px;
            height: 21px;
            background-color: #E91E63;
            z-index: 1;
        }
    }

    &__subtitle {
        max-width: 525px;
        margin: 0 auto;
        font-family: 'DM Sans';
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: $Gray-30;

        @media screen and (max-width: 375px) {
            max-width: 345px;
            font-size: 18px;
            line-height: 26px;
        }
    }
    

    .step {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 100px;
        gap: 30px;

        @media screen and (max-width: 1230px) {
            margin: 0 auto;
            flex-direction: column;
            gap: 16px;
        }


        &__item {
            padding: 0 40px 0 55px;
            border-radius: 12px;
            background: $step-namber;
        }

        &__point {
            max-width: 500px;

            @media screen and (max-width: 375px) {
                max-width: 345px;
                margin: 0 auto;
            }
        }

        &__namber {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 380px) {
                flex-direction: column;
            }
        
        }

        &__title {
            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 54px;
            line-height: 58px;
            color: $white-color;

            // @media screen and (max-width: 1380px) {
            //     font-size: 32px;
            //     line-height: 38px;
            // }

            @media screen and (max-width: 380px) {
                margin-bottom: 5px;
            }
        }

        &__subtitle {
            padding: 5px 20px;
            max-height: 52px;
            border: 2px solid $Gray-30;
            border-radius: 99px;

            font-family: 'GT Eesti Pro';
            font-weight: 700;
            font-size: 42px;
            line-height: 44px;
            color: $white-color;

            @media screen and (max-width: 380px) {
                max-height: 35px;
                font-size: 26px;
                line-height: 28px;
            }
        }

        &__vector {
            max-width: 70px;
            border: 2px solid $main-color-teal;
        }

        &__text {
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            color: $white-color;
            
            @media screen and (max-width: 380px) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        &__img {
            max-width: 740px;
            
            &_1 {
                padding-top: 115px;

                // @media screen and (max-width: 1380px) {
                //     padding-top: 30px;
                // }
            }

            &_2 {
                padding-top: 45px;

                // @media screen and (max-width: 1380px) {
                //     padding-top: 30px;
                // }
            }

            &_3 {
                padding-top: 130px;

                // @media screen and (max-width: 1380px) {
                //     padding-top: 30px;
                // }
            }

            // @media screen and (max-width: 1380px) {
            //     max-width: 345px;
            // }
        }
    } 

    .btn-steps {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 120px;
    }
}
