@import "../base/fonts";
@import "../base/variables";

.types {
    min-height: 1200px;
    position: relative;
    z-index: 1;
    background-color: $blue-dark;

    &__container {
        padding-top: 80px;

        @media screen and (max-width: 1024px) {
           padding-top: 55px;
        }
    }

    &__title {
        margin-bottom: 0;
        padding-bottom: 50px;
        text-align: center;
        font-family: 'GT Eesti Pro';
        font-weight: 700;
        font-size: 91px;
        line-height: 100px;
        color: $white-color;

        @media screen and (max-width: 1024px) {
            padding-bottom: 40px;
            font-size: 40px;
            line-height: 44px;
        }
    }

    &__box {
        display: flex;
        gap: 8px;

        @media screen and (max-width: 1085px) {
            flex-direction: column;
            gap: 0;
        }
    }

    .clients {
        display: grid;
        max-width: 100%;
        width: 515px;
        padding: 0;
        gap: 8px;

        @media screen and (max-width: 1085px) {
            display: grid;
            width: 100%;
            margin-bottom: 0;
            padding: 0;
            gap: 8px;
        }

        &__item {
            height: 80px;
            border-radius: 8px;
            background: $blue-deep;

            @media screen and (max-width: 1085px) {
                height: 70px;
            }
        }

        &__title {
            padding-left: 40px;
            position: relative;
            font-family: 'GT Eesti Pro';
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            color: $white-color;

            &::before {
                content: "";
                position: absolute;
                display: inline;
                width: 5px;
                height: 5px;
                top: 10px;
                left: 23px;
                border-radius: 50%;
                background-color: $main-color-teal;

                @media screen and (max-width: 1085px) {
                    top: 7px;
                }
            }

            @media screen and (max-width: 1085px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    &__btn {
        padding: 80px 0 130px 0;
        text-align: center;

        @media screen and (max-width: 1085px) {
            padding-top: 40px;
        }
    }
}