@import "../base/variables";
@import "../base/fonts";
@import "../base/base";
@import "../base/commons";
@import "../sections/header.scss";
@import "../sections/hero.scss";
@import "../sections/steps.scss";
@import "../sections/specialities.scss";
@import "../sections/about.scss";
@import "../sections/features.scss";
@import "../sections/questions.scss";
