@import "../base/variables";
@import "../base/fonts";
@import "../base/base";
@import "../base/commons";

//Page-1
//Home
@import "../sections/header.scss";
@import "../sections/hero.scss";
@import "../sections/steps.scss";
@import "../sections/specialities.scss";
@import "../sections/footer.scss";
@import "../sections/insurance";
@import "../sections/about.scss";
@import "../sections/features.scss";
@import "../sections/questions.scss";
@import "../sections/tagline.scss";
@import "../sections/partners.scss";
@import "../sections/contact.scss";

//Page-2
//Multi-family
@import "../sections/hero-page2.scss";
@import "../sections/menu-page2.scss";
@import "../sections/details.scss";
@import "../sections/properties.scss";
@import "../sections/insurance-page2.scss";
@import "../sections/rules.scss";
@import "../sections/stages.scss";
@import "../sections/types.scss";
@import "../sections/customers.scss";

//Page-2
//Features
@import "../sections/hero-page3.scss";
@import "../sections/management.scss";