@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
.contact {
  padding: 130px 0;
}
@media (max-width: 1024px) {
  .contact {
    padding-top: 60px;
  }
}
.contact__container {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding-bottom: 80px;
}
@media (max-width: 1024px) {
  .contact__container {
    width: 100%;
    margin: 0 16px;
    flex-direction: column;
    padding-top: 60px;
  }
}
.contact__title {
  max-width: 580px;
  margin: 0;
  font-family: "GT Eesti Pro";
  font-weight: 700;
  font-size: 91px;
  line-height: 100px;
  color: #0A1C33;
}
@media (max-width: 1024px) {
  .contact__title {
    max-width: 345px;
    font-size: 40px;
    line-height: 44px;
  }
}
.contact__subtitle {
  max-width: 385px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 50px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #3B495C;
}
@media (max-width: 1024px) {
  .contact__subtitle {
    max-width: 340px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 28px;
  }
}
.contact__box {
  padding-left: 40px;
}
.contact__address, .contact__email, .contact__tel {
  position: relative;
  font-family: "GT Eesti Pro";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #3B495C;
}
.contact__address::before {
  content: "";
  background-image: url("../../img/contact-address.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 1%;
  left: -9%;
}
@media (max-width: 1024px) {
  .contact__address::before {
    left: -5%;
  }
}
.contact__tel::before {
  content: "";
  background-image: url("../../img/contact-tel.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  left: -9%;
  bottom: 30%;
}
@media (max-width: 1024px) {
  .contact__tel::before {
    left: -5%;
  }
}
.contact__email::before {
  content: "";
  background-image: url("../../img/contact-email.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  left: -9%;
  bottom: -4%;
}
@media (max-width: 1024px) {
  .contact__email::before {
    left: -5%;
  }
}
.contact .form {
  width: 100%;
  display: grid;
  gap: 40px;
  width: 950px;
  height: 585px;
  padding: 80px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #E6E8EA;
  filter: drop-shadow(0px 18px 60px rgba(10, 28, 51, 0.05));
}
.contact .form__first-row {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border: none;
}
.contact .form__group {
  position: relative;
}
.contact .form__group-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
}
.contact .form__row, .contact .form__second-row, .contact .form__third-row {
  padding-left: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  border-radius: 6px;
  background: #FBFCFF;
  border: 1px solid #536070;
}
.contact .form__row {
  width: 374px;
  height: 60px;
}
.contact .form__second-row {
  width: 788px;
  height: 60px;
}
.contact .form__third-row {
  width: 788px;
  height: 120px;
  padding-top: 14px;
}
.contact .form-group label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
}
.contact .form-group.active label {
  transform: translateY(-100%) scale(0.8);
}
.contact .textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
}

/*# sourceMappingURL=contact.css.map */
