@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
.footer {
  position: relative;
  padding-top: 80px;
  top: -56px;
  border-radius: 60px 60px 0 0;
  background-color: #0A1C33;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 40px;
    border-radius: 30px 30px 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .footer__container {
    margin: 0 auto;
  }
}
.footer__head {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .footer__head {
    flex-direction: column;
  }
}
.footer__logo {
  margin: 0 16px;
  padding: 0 0 40px 0;
}
@media screen and (max-width: 1280px) {
  .footer__logo svg {
    max-width: 156px;
  }
}
.footer .footer-menu {
  display: flex;
  margin: 0 auto;
  padding-bottom: 120px;
  gap: 190px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .footer .footer-menu {
    display: none;
  }
}
.footer .footer-menu__box {
  position: relative;
}
.footer .footer-menu__title {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .footer .footer-menu__title {
    font-size: 18px;
    line-height: 28px;
  }
}
.footer .footer-menu__subtitle {
  padding-bottom: 32px;
  font-family: "GT Eesti Pro";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #B5BAC1;
}
@media screen and (max-width: 1024px) {
  .footer .footer-menu__subtitle {
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }
}
.footer .footer-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .footer .footer-mobile {
    display: inline-block;
  }
}
.footer .footer-mobile__item::before, .footer .footer-mobile__item::after {
  content: "";
  display: block;
  margin: 0 16px;
  border: 1px solid #3B495C;
}
.footer .footer-mobile__content {
  margin: 0 16px;
}
.footer .footer-mobile__content_hidden {
  display: none;
}
.footer .footer-mobile__subtitle {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 16px;
  padding: 24px 0;
  font-family: "GT Eesti Pro";
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #B5BAC1;
}
.footer .footer-mobile__subtitle::after {
  content: "";
  background-image: url("../../img/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 10px;
  top: 33px;
  right: 0;
}
.footer .footer-mobile__title {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.footer .footer-basement {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .footer .footer-basement {
    flex-direction: column;
    margin: 0 16px;
  }
}
.footer .footer-basement__left {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .footer .footer-basement__left {
    padding-top: 40px;
  }
}
@media screen and (max-width: 400px) {
  .footer .footer-basement__left {
    flex-direction: column;
    gap: 0;
  }
}
.footer .footer-basement__right {
  display: flex;
  margin-top: -15px;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .footer .footer-basement__right {
    padding-bottom: 40px;
  }
}
.footer .footer-basement__subtitle-other {
  padding-bottom: 32px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #B5BAC1;
}
@media screen and (max-width: 1024px) {
  .footer .footer-basement__subtitle-other {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer .footer-basement__line {
  margin: 0 auto;
  border: 1px solid #3B495C;
}
@media screen and (max-width: 1024px) {
  .footer .footer-basement__line {
    margin: 0 16px;
  }
}
.footer .footer-basement__text {
  padding: 24px 0;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #B5BAC1;
}
.footer .footer-basement__facebook:hover svg path {
  transition: all 0.4s;
  fill: #3b5998;
}
.footer .footer-basement__instagram:hover svg path {
  transition: all 0.4s;
  fill: #E91E63;
}
.footer .footer-basement__youtube:hover svg path {
  transition: all 0.4s;
  fill: #ff0000;
}
.footer .footer-basement__in:hover svg path {
  transition: all 0.4s;
  fill: #3b5998;
}

/*# sourceMappingURL=footer.css.map */
