@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
.footer {
  padding-top: 80px;
  border-radius: 60px 60px 0 0;
  background-color: #0A1C33;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 40px;
    border-radius: 30px 30px 0 0;
  }
}
.footer__head {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .footer__head {
    flex-direction: column;
  }
}
@media screen and (max-width: 1280px) {
  .footer__logo svg {
    max-width: 156px;
    margin: 0 16px;
  }
}
.footer__menu {
  display: flex;
  margin: 0 auto;
  padding-bottom: 120px;
  gap: 214px;
}
@media screen and (max-width: 1024px) {
  .footer__menu {
    flex-direction: column;
    margin: 0 16px;
  }
}
.footer__title {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .footer__title {
    font-size: 18px;
    line-height: 28px;
  }
}
.footer__subtitle {
  padding-bottom: 32px;
  font-family: "GT Eesti Pro";
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #B5BAC1;
}
@media screen and (max-width: 1024px) {
  .footer__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
  .footer__subtitle::after {
    content: "";
    background-image: url("../../img/arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 12px;
    height: 6px;
  }
}
.footer__col {
  display: flex;
  justify-content: space-between;
}
.footer__col-left {
  display: flex;
  gap: 50px;
}
.footer__col-right {
  display: flex;
  margin-top: -15px;
  gap: 24px;
}
.footer__subtitle {
  padding-bottom: 32px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #B5BAC1;
}
.footer__line {
  margin: 0 auto;
  border: 1px solid #3B495C;
}
.footer__text {
  padding: 24px 0;
  text-align: center;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #B5BAC1;
}
@media screen and (max-width: 1024px) {
  .footer__line {
    width: 100%;
    border: 1px solid #3B495C;
  }
}

/*# sourceMappingURL=footer.css.map */
