@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
.hero {
  height: 100vh;
  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1350px) {
  .hero {
    background-image: url("../../img/bg-mobile-menu.png");
  }
}
.hero__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}
.hero__col_left {
  position: relative;
  max-width: 875px;
  padding-top: 30px;
  z-index: 2;
}
@media screen and (max-width: 1370px) {
  .hero__col_left {
    z-index: 0;
  }
}
.hero__col_right {
  position: absolute;
  top: 15%;
  right: 0;
  z-index: 1;
}
.hero__img {
  width: 100%;
  max-width: 1500px;
  min-width: 700px;
  object-fit: cover;
}
.hero__title {
  font-family: "GT Eesti Pro";
  font-weight: 700;
  font-size: 103px;
  line-height: 114px;
  color: #0A1C33;
}
@media screen and (max-width: 1370px) {
  .hero__title {
    font-size: 50px;
    line-height: 52px;
  }
}
.hero__title_span {
  color: #00CCC2;
}
.hero__btn {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1250px) {
  .hero__btn {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
}
.hero__watch {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media screen and (max-width: 1250px) {
  .hero__watch {
    margin: 0 auto;
  }
}
@media screen and (max-width: 300px) {
  .hero__watch {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=hero.css.map */
