@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
.insurance {
  height: 575px;
  border-radius: 60px 60px 0 0;
  background-image: url("../../img/insurance.img/insurance-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 564px) {
  .insurance {
    height: 550px;
  }
}
.insurance__container {
  position: relative;
}
.insurance__content {
  position: relative;
}
.insurance__content::before {
  content: "";
  background-image: url("../../img/insurance.img/insurance-before.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 570px;
  height: 400px;
  top: 40%;
  left: -2%;
  opacity: 0.2;
}
@media screen and (max-width: 1024px) {
  .insurance__content::before {
    width: 500px;
    height: 337px;
    top: 54%;
    left: 2%;
  }
}
@media screen and (max-width: 550px) {
  .insurance__content::before {
    width: 425px;
    top: 57%;
    left: 4%;
  }
}
@media screen and (max-width: 454px) {
  .insurance__content::before {
    width: 400px;
    top: 48%;
    left: 0%;
  }
}
.insurance__title {
  position: relative;
  max-width: 1030px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  font-family: "GT Eesti Pro";
  font-weight: 700;
  font-size: 91px;
  line-height: 100px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .insurance__title {
    max-width: 305px;
    padding-top: 55px;
    font-size: 40px;
    line-height: 44px;
  }
}
.insurance__title-other {
  color: #00CCC2;
}
.insurance__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 7%;
}
@media screen and (max-width: 1024px) {
  .insurance__box {
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }
}
.insurance__img {
  max-width: 185px;
}
@media screen and (max-width: 1024px) {
  .insurance__img {
    display: none;
  }
}
.insurance__img-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .insurance__img-mobile {
    display: inline;
    width: 190px;
  }
}

/*# sourceMappingURL=insurance.css.map */
