@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
@media screen and (max-width: 1550px) {
  .questions {
    margin: 0 16px;
  }
}
.questions__container {
  background: #F7FBFD;
  border-radius: 12px;
}
.questions__title {
  margin-bottom: 0;
  padding-top: 80px;
  padding-bottom: 50px;
  font-family: "GT Eesti Pro";
  font-weight: 700;
  font-size: 91px;
  line-height: 100px;
  text-align: center;
  color: #0A1C33;
}
@media screen and (max-width: 1024px) {
  .questions__title {
    padding-bottom: 24px;
    font-size: 40px;
    line-height: 44px;
  }
}
.questions__subtitle {
  padding-bottom: 80px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #3B495C;
}
@media screen and (max-width: 1024px) {
  .questions__subtitle {
    margin: 0;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 26px;
  }
}
.questions__btn {
  padding: 100px 0 130px 0;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .questions__btn {
    padding-bottom: 60px;
  }
}
.questions .accordion {
  max-width: 1000px;
  margin: 0 auto;
  cursor: pointer;
}
.questions .accordion-item::before {
  content: "";
  display: block;
  margin: 0;
  border: 1px solid #CED2D6;
}
.questions .accordion-item_tail::after {
  content: "";
  display: block;
  margin: 0;
  border: 1px solid #CED2D6;
}
.questions .accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 32px;
  font-family: "GT Eesti Pro";
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #3B495C;
}
.questions .accordion-header_active .accordion-toggle {
  transform: rotate(45deg);
  transition: all 0.4s;
}
.questions .accordion-header:hover {
  color: #0A1C33;
}
.questions .accordion-header:active {
  color: #0A1C33;
}
.questions .accordion-header:focus {
  color: #6C7785;
}
@media screen and (max-width: 1024px) {
  .questions .accordion-header {
    padding: 17px 24px;
    font-size: 18px;
    line-height: 22px;
  }
}
.questions .accordion-content {
  display: none;
  max-width: 794px;
  padding: 0 0 32px 32px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #0A1C33;
}
@media screen and (max-width: 1024px) {
  .questions .accordion-content {
    padding: 0 40px 16px 24px;
    font-size: 18px;
    line-height: 28px;
  }
}
.questions .accordion-content_active {
  background-color: #fff;
}
.questions .accordion-toggle {
  transition: all 0.4s;
  display: inline-block;
  width: 54px;
  height: 54px;
  background: url("../../img/questions-img/Questions.svg") no-repeat;
  background-size: contain;
  transition: transform all 0.4s;
}
@media screen and (max-width: 1024px) {
  .questions .accordion-toggle {
    width: 46px;
    height: 46px;
  }
}
.questions .accordion-item.active .accordion-toggle {
  background-image: url("../../img/questions-img/questions-activ.svg");
  width: 54px;
  height: 54px;
}
@media screen and (max-width: 1024px) {
  .questions .accordion-item.active .accordion-toggle {
    width: 46px;
    height: 46px;
  }
}

/*# sourceMappingURL=questions.css.map */
