@charset "UTF-8";
@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
.questions__box {
  background: #F7FBFD;
  border-radius: 12px;
}
.questions__title {
  margin-bottom: 0;
  padding-top: 80px;
  padding-bottom: 50px;
  font-family: "GT Eesti Pro";
  font-weight: 700;
  font-size: 91px;
  line-height: 100px;
  text-align: center;
  color: #0A1C33;
}
@media screen and (max-width: 1024px) {
  .questions__title {
    padding-top: 55px;
    padding-bottom: 24px;
    font-size: 40px;
    line-height: 44px;
  }
}
.questions__subtitle {
  padding-bottom: 80px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #3B495C;
}
@media screen and (max-width: 1024px) {
  .questions__subtitle {
    margin: 0;
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 26px;
  }
}
.questions__col {
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .questions__col {
    max-width: 500px;
  }
}
.questions__col::before {
  content: "";
  display: block;
  margin: 0;
  border: 1px solid #CED2D6;
}
@media screen and (max-width: 525px) {
  .questions__col::before {
    margin: 0 24px;
  }
}
.questions__col-tail::after {
  content: "";
  display: block;
  margin: 0;
  border: 1px solid #CED2D6;
}
@media screen and (max-width: 525px) {
  .questions__col-tail::after {
    margin: 0 24px;
  }
}
.questions__band {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 33px;
  padding: 32px 0;
  font-family: "GT Eesti Pro";
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #3B495C;
}
.questions__band::after {
  content: "+";
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  padding: 15px;
  border-radius: 46px;
  border: 2px solid #B5BAC1;
}
@media screen and (max-width: 1024px) {
  .questions__band {
    padding: 18px 0;
  }
}
.questions__band_active {
  display: block;
  margin: 0;
  padding: 32px;
  background-color: #fff;
}
.questions__band_active::after {
  content: "×";
  padding: 16px 16px;
  top: 20px;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  right: 3rem;
}
@media screen and (max-width: 1024px) {
  .questions__band_active {
    padding: 16px 24px;
    background-color: #F7FBFD;
  }
}
.questions__content {
  max-width: 750px;
  padding-top: 32px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #0A1C33;
}
.questions__content_hidden {
  display: none;
}
@media screen and (max-width: 1024px) {
  .questions__content {
    max-width: 295px;
    padding-top: 18px;
  }
}
.questions__btn {
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .questions__btn {
    padding-bottom: 60px;
  }
}

/*# sourceMappingURL=questions.css.map */
