@font-face {
  font-family: "Poller One";
  src: url("../../fonts/PollerOne-Regular.eot") format("embedded-opentype"), url("../../fonts/PollerOne-Regular.svg") format("svg"), url("../../fonts/PollerOne-Regular.woff") format("woff"), url("../../fonts/PollerOne-Regular.woff2"), url("../../fonts/PollerOne-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaymedium.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaymedium.svg") format("svg"), url("../../fonts/gteestiprodisplaymedium.woff") format("woff"), url("../../fonts/gteestiprodisplaymedium.woff2") format("woff2"), url("../../fonts/gteestiprodisplaymedium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "GT Eesti Pro";
  src: url("../../fonts/gteestiprodisplaybold.eot") format("embedded-opentype"), url("../../fonts/gteestiprodisplaybold.svg") format("svg"), url("../../fonts/gteestiprodisplaybold.woff") format("woff"), url("../../fonts/gteestiprodisplaybold.woff2") format("woff2"), url("../../fonts/gteestiprodisplaybold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Regular.eot") format("embedded-opentype"), url("../../fonts/DMSans-Regular.svg") format("svg"), url("../../fonts/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Medium.eot") format("embedded-opentype"), url("../../fonts/DMSans-Medium.svg") format("svg"), url("../../fonts/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans-Medium.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/DMSans-Bold.eot") format("embedded-opentype"), url("../../fonts/DMSans-Bold.svg") format("svg"), url("../../fonts/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans-Bold.woff2"), url("../../fonts/DMSans-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1540px;
  padding: 0 10px;
  margin: 0 auto;
}

.button_hero {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  border-radius: 66px;
  color: #fff;
  background: #E91E63;
}
@media screen and (max-width: 690px) {
  .button_hero {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .button_hero {
    font-size: 16px;
    line-height: 15px;
  }
}
.button_hero:hover {
  transition: all 0.4s;
  background-color: #D81859;
}
.button_hero:active {
  vertical-align: middle;
  color: #B4174C;
}
.button_hero:focus {
  vertical-align: middle;
  color: #F8D4E0;
}
.button_watch {
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 0;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: right;
  color: #0A1C33;
}
.button_watch:hover {
  transition: all 0.4s;
  color: #0EB7AE;
}
.button_watch:hover svg {
  transition: all 0.4s;
  fill: #F7FBFD;
}
.button_watch:hover svg path {
  transition: all 0.2s;
  stroke: #00CCC2;
  fill: #00CCC2;
}
.button_watch:hover svg circle {
  transition: all 0.4s;
  stroke: #00CCC2;
}
@media screen and (max-width: 375px) {
  .button_watch {
    font-size: 21px;
    line-height: 25px;
  }
}
@media screen and (max-width: 300px) {
  .button_watch {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 250px) {
  .button_watch {
    margin: 0 auto;
    flex-direction: column;
  }
}
.button_steps {
  padding: 20px 40px;
  background: #E91E63;
  border-radius: 66px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #fff;
}
.button_steps:hover {
  transition: all 0.4s;
  background-color: #D81859;
}
.button_steps:active {
  vertical-align: middle;
  color: #B4174C;
}
.button_steps:focus {
  vertical-align: middle;
  color: #F8D4E0;
}
@media screen and (max-width: 1230px) {
  .button_steps {
    display: block;
    width: 100%;
  }
}
.button_specialities:hover svg {
  transition: all 0.3s;
  fill: #E91E63;
}
.button_specialities:hover svg circle {
  transition: all 0.3s;
  stroke: #E91E63;
}
.button_specialities:hover:active {
  vertical-align: middle;
  color: #B4174C;
}
.button_specialities:hover:focus {
  vertical-align: middle;
  border: 2px solid #0EB7AE;
  color: #F8D4E0;
}
.button_specialities:hover:focus svg {
  transition: all 0.4s;
  fill: #fff;
}
.button_specialities:hover:focus svg path {
  transition: all 0.2s;
  stroke: #CED2D6;
  fill: #CED2D6;
}
.button_specialities:hover:focus svg circle {
  transition: all 0.4s;
  stroke: #CED2D6;
}
@media screen and (max-width: 1024px) {
  .button_specialities:hover {
    font-size: 12px;
    line-height: 18px;
  }
}
.button_about {
  padding: 20px 40px;
  border: 2px solid #B5BAC1;
  border-radius: 66px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #0A1C33;
}
.button_about:hover {
  transition: all 0.4s;
  color: #0EB7AE;
  background: #CFE9E7;
  border: 2px solid #0EB7AE;
}
@media screen and (max-width: 1024px) {
  .button_about {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -32px;
  }
}
.button_questions {
  padding: 20px 40px;
  border: 2px solid #B5BAC1;
  border-radius: 66px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #0A1C33;
}
.button_questions:hover {
  transition: all 0.4s;
  color: #0EB7AE;
  background: #CFE9E7;
  border: 2px solid #0EB7AE;
}
@media screen and (max-width: 1024px) {
  .button_questions {
    display: block;
    width: 100%;
    margin-top: -60px;
    font-size: 13px;
    line-height: 15px;
  }
}
.button_tagline {
  padding: 20px 40px;
  background: #E91E63;
  border-radius: 66px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #fff;
}
.button_tagline:hover {
  transition: all 0.4s;
  background-color: #D81859;
}
@media screen and (max-width: 1024px) {
  .button_tagline {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -32px;
    font-size: 13px;
    line-height: 15px;
  }
}
.button_contact {
  width: 155px;
  height: 65px;
  margin: 0 auto;
  padding: 20px 40px;
  border: 2px solid #B5BAC1;
  border-radius: 66px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #0A1C33;
  background-color: #fff;
  cursor: pointer;
}
.button_contact:hover {
  transition: all 0.4s;
  color: #0EB7AE;
  background-color: #CFE9E7;
  border-color: #00CCC2;
}
@media (max-width: 1024px) {
  .button_contact {
    display: block;
    width: 100%;
  }
}
.button_insurance {
  position: relative;
  padding: 20px 40px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  border-radius: 66px;
  border: none;
  color: #fff;
  background-color: #E91E63;
}
.button_insurance:hover {
  transition: all 0.4s;
  background-color: #D81859;
}
.button_insurance:active {
  vertical-align: middle;
  color: #B4174C;
}
.button_insurance:focus {
  vertical-align: middle;
  color: #F8D4E0;
}
.button_hero-page2 {
  padding: 20px 60px;
  background: #E91E63;
  border-radius: 66px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .button_hero-page2 {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.button_hero-page2:hover {
  transition: all 0.4s;
  background-color: #D81859;
}
.button_hero-page2:active {
  vertical-align: middle;
  color: #B4174C;
}
.button_hero-page2:focus {
  vertical-align: middle;
  color: #F8D4E0;
}
.button_item-info {
  padding: 6px 15px;
  font-family: "GT Eesti Pro";
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  background: #00CCC2;
  border-radius: 66px;
  color: #fff;
}
.button_item-info:hover {
  transition: all 0.4s;
  background-color: #0EB7AE;
}
.button_item-info:active {
  vertical-align: middle;
  color: #0CA099;
}
.button_item-info:focus {
  vertical-align: middle;
  color: #CFE9E7;
}
.button_details {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #00CCC2;
}
@media screen and (max-width: 1024px) {
  .button_details {
    font-size: 16px;
    line-height: 24px;
  }
}
.button_rules {
  padding: 20px 60px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  background: #E91E63;
  border-radius: 66px;
}
@media screen and (max-width: 690px) {
  .button_rules {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.button_rules:hover {
  transition: all 0.4s;
  background-color: #D81859;
}
.button_rules:active {
  vertical-align: middle;
  color: #B4174C;
}
.button_rules:focus {
  vertical-align: middle;
  color: #F8D4E0;
}
.button_types {
  padding: 20px 70px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  border-radius: 66px;
  background: #E91E63;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .button_types {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.button_types:hover {
  transition: all 0.4s;
  background-color: #D81859;
}
.button_types:active {
  vertical-align: middle;
  color: #B4174C;
}
.button_types:focus {
  vertical-align: middle;
  color: #F8D4E0;
}

.link-anima {
  position: relative;
}
.link-anima::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #0EB7AE;
  transition: width 0.4s;
}
.link-anima:hover::before {
  width: 100%;
}

/*# sourceMappingURL=commons.css.map */
