@import "variables";
@import "fonts";

.container {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.button {
    &_first {
        padding: 13px 40px;
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        border-radius: 66px;
        color: $white-color;
        background: $main-color-teal;

        &:hover {
            transition: all .4s;
            background-color: $hover-color-teal;
        }

        @media screen and (max-width: 1024px) {
          display: none;
        }
    }

    // &_second {
    //   padding: 20px 40px;
    //   font-family: 'DM Sans';
    //   font-weight: 700;
    //   font-size: 21px;
    //   line-height: 25px;
    //   color: $white-color;
    //   background: $main-color-pink;
    //   border-radius: 66px;

// <<<<<<< HEAD
//       @media screen and (max-width: 1024px) {
//         padding: 20px 80px;
//         margin: 0 auto;
//       }

// =======
// >>>>>>> master
//       &:hover {
//         transition: all .4s;
//         background-color: $hover-color-pink;
//       }
//     }

//     &_third {
//       font-family: 'DM Sans';
//       font-weight: 700;
//       font-size: 21px;
//       line-height: 25px;
//       text-align: right;
//       color: $Gray-100;
//     }

//     &_fourth {
//       padding: 20px 40px;
//       background: $main-color-pink;
//       border-radius: 66px;
// <<<<<<< HEAD

//       font-family: 'DM Sans';
//       font-weight: 700;
//       font-size: 21px;
//       line-height: 25px;
//       color: $white-color;

//       &:hover {
//         transition: all .4s;
//         background-color: $hover-color-pink;
//       }
    }



// // Multi Family
//     // &_second {
//     //   padding: 20px 40px;
//     //   font-family: 'DM Sans';
//     //   font-weight: 700;
//     //   font-size: 21px;
//     //   line-height: 25px;
//     //   border-radius: 66px;
//     //   color: $white-color;
//     //   background: $main-color-pink;
// =======
// >>>>>>> master

//       font-family: 'DM Sans';
//       font-weight: 700;
//       font-size: 21px;
//       line-height: 25px;
//       color: $white-color;

//       &:hover {
//         transition: all .4s;
//         background-color: $hover-color-pink;
//       }
//     }
// }

//ANIMATION
.link-anima {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0;
      height: 2px;
      background-color: $hover-color-teal;
      transition: width .4s;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }