@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1540px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {

    &_first {
      display: flex;
      align-items: center;
      padding: 20px 40px;
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      color: $white-color;
      background: $main-color-pink;
      border-radius: 66px;

      @media screen and (max-width: 375px) {
        padding: 20px 40px;
        font-size: 21px;
        line-height: 25px;
      }

      @media screen and (max-width: 375px) {
        font-size: 16px;
        line-height: 15px;
      }

      &:hover {
        transition: all .4s;
        background-color: $hover-color-pink;
      }

      &:active {
        vertical-align: middle;
        color: $pressed-color-pink;
      }

      &:focus {
        vertical-align: middle;
        color: $disabled-color-pink;
      }
    }

    &_second {
      display: flex;
      align-items: center;
      gap: 15px;
        
      font-family: 'DM Sans';
      font-weight: 700;
      font-size: 21px;
      line-height: 25px;
      text-align: right;
      color: $Gray-100;

      @media screen and (max-width: 375px) {
        font-size: 21px;
        line-height: 25px;
      }

      @media screen and (max-width: 300px) {
        font-size: 15px;
        line-height: 20px;
      }

      @media screen and (max-width: 250px) {
        margin: 0 auto;
        flex-direction: column;
      }

      &:hover {
        transition: all .4s;
        color: $hover-teal;

        svg {
          transition: all .4s;
          fill: $hover-btn-teal;
          path {
            transition: all .2s;
            stroke: $hover-background-teal;
            fill: $hover-background-teal;
          }
          circle {
            transition: all .4s;
            stroke: $hover-background-teal;
          }
        }
      }
    }

    &_third {
        padding: 20px 40px;
        background: $main-color-pink;
        border-radius: 66px;
  
        font-family: 'DM Sans';
        font-weight: 700;
        font-size: 21px;
        line-height: 25px;
        color: $white-color;
  
        &:hover {
          transition: all .4s;
          background-color: $hover-color-pink;
        }
  
        &:active {
          vertical-align: middle;
          color: $pressed-color-pink;
        }
  
        &:focus {
          vertical-align: middle;
          color: $disabled-color-pink;
        }
    }
}

//ANIMATION
.link-anima {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0;
      height: 2px;
      background-color: $hover-color-teal;
      transition: width .4s;
    }

    &:hover {
      &::before {
        width: 100%;
    }
    }
}
