// Poller One - Regular
@font-face {
    font-family: 'Poller One';
    src: url('../../fonts/PollerOne-Regular.eot') format('embedded-opentype'),
         url('../../fonts/PollerOne-Regular.svg') format('svg'),
         url('../../fonts/PollerOne-Regular.woff') format('woff'),
         url('../../fonts/PollerOne-Regular.woff2'),
         url('../../fonts/PollerOne-Regular.otf') format('otf');
    font-weight: 400;
}

//  GT Eesti Pro - medium
@font-face {
    font-family: 'GT Eesti Pro';
    src: url('../../fonts/gteestiprodisplaymedium.eot') format('embedded-opentype'),
         url('../../fonts/gteestiprodisplaymedium.svg') format('svg'),
         url('../../fonts/gteestiprodisplaymedium.woff') format('woff'),
         url('../../fonts/gteestiprodisplaymedium.woff2') format('woff2'),
         url('../../fonts/gteestiprodisplaymedium.otf') format('otf');
    font-weight: 500;
}

//  GT Eesti Pro - bold
@font-face {
    font-family: 'GT Eesti Pro';
    src: url('../../fonts/gteestiprodisplaybold.eot') format('embedded-opentype'),
         url('../../fonts/gteestiprodisplaybold.svg') format('svg'),
         url('../../fonts/gteestiprodisplaybold.woff') format('woff'),
         url('../../fonts/gteestiprodisplaybold.woff2') format('woff2'),
         url('../../fonts/gteestiprodisplaybold.otf') format('otf');
    font-weight: 700;
}

// DM Sans - Regular
@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Regular.eot') format('embedded-opentype'),
         url('../../fonts/DMSans-Regular.svg') format('svg'),
         url('../../fonts/DMSans-Regular.woff') format('woff'),
         url('../../fonts/DMSans-Regular.woff2') format('woff2'),
         url('../../fonts/DMSans-Regular.otf') format('otf');
    font-weight: 400;
}

// DM Sans - Medium
@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Medium.eot') format('embedded-opentype'),
         url('../../fonts/DMSans-Medium.svg') format('svg'),
         url('../../fonts/DMSans-Medium.woff') format('woff'),
         url('../../fonts/DMSans-Medium.woff2') format('woff2'),
         url('../../fonts/DMSans-Medium.otf') format('otf');
    font-weight: 500;
}

// DM Sans - Bold
@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Bold.eot') format('embedded-opentype'),
         url('../../fonts/DMSans-Bold.svg') format('svg'),
         url('../../fonts/DMSans-Bold.woff') format('woff'),
         url('../../fonts/DMSans-Bold.woff2'),
         url('../../fonts/DMSans-Bold.otf') format('otf');
    font-weight: 700;
}
