$white-color:#fff;

//BACKROUND
$blue-dark:#000E50;
$blue-deep:#0D1958;
$light-gray:#F7FBFD;
$input:#FBFCFF;

//GRAY STYLES
$step-namber: #0D1A59;
$Gray-100:#0A1C33;
$Gray-90:#223247;
$Gray-80:#3B495C;
$Gray-70:#536070;
$Gray-60:#6C7785;
$Gray-50:#848D99;
$Gray-40:#9DA4AD;
$Gray-30:#B5BAC1;
$Gray-20:#CED2D6;
$Gray-10:#E6E8EA;

//TEAL
$main-color-teal:#00CCC2;
$hover-color-teal:#0EB7AE;
$disabled-color-teal:#CFE9E7;
$pressed-color-teal:#0CA099;

//PINK
$main-color-pink:#E91E63;
$hover-color-pink:#D81859;
$pressed-color-pink:#B4174C;
$disabled-color-pink:#F8D4E0;

//DANGER
$main-color-danger:#ff5252;
$hover-color-danger:#E64A4A;
$pressed-color-danger:#CC4242;
$disabled-color-danger:#FFDCDC;

//SUCCES
$main-color-succes:#4CAF50;
$hover-color-succes:#459E48;
$pressed-color-succes:#419544;
$disabled-color-succes:#DBEFDC;

//WARNING
$main-color-warning:#FF9800;
$hover-color-warning:#E68900;
$pressed-color-warning:#D98100;
$disabled-color-warning:#FFEACC;

//Play btn
$hover-teal:#0EB7AE;
$hover-background-teal:#00CCC2;
$hover-btn-teal:#F7FBFD;

//Circle btn
$hover-pink:#E91E63;
$hover-pressed-pink:#B4174C;
$hover-disabled:#CED2D6;
$hover-default:#000E50;

// Tab disabled-color
$tab-disabled-color:#3B495C;

// Box-shadow - M:
$box-shadow-m: 0 10 32 0 rgba(12, 37, 70, 0.08);

// Box-shadow - L:
$box-shadow-l: drop-shadow(0px 18px 60px rgba(10, 28, 51, 0.05));
